lib/
target/
build/
.gradle/
.idea/

src/main/resources/application.properties

client/dist/*
!client/dist/*.png
!client/dist/*.svg
!client/dist/app.css
!client/dist/app.js
node_modules/

gradlew*
gradle/
