@import 'buttons.css';
@import 'spinner.css';
@import 'forms.css';
@import 'graph.css';
@import 'game-view.css';
@import 'mobile-game-view.css';
@import 'history.css';
@import 'epilogue.css';

:root {
  --main-font: 'Neucha', serif;

  --header-height: 68px;
  --min-layout-height: 500px;
  --textbox-height: 120px;
  --graph-field-width: 120px;
  --mobile-controls-height: 200px;

  --text-color: #000;
  --border-color: #6d6d6d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font: 18px var(--main-font);
  letter-spacing: 0.04em;
}

@media(max-width: 600px) {
  body {
    font-size: 20px;
  }
}

.neutral-bg {
  background: url(neutralbg.svg);
}

@media(max-width: 600px) {
  .neutral-bg {
    background-size: contain;
  }
}

/* Loading & error screens */
.info-page {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  & > p {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

.credits {
  font-size: 20px;
  min-height: min-content;
  padding: 4vh 0;
}

.credits-title {
  margin: 0;
  font-size: 42px;
}

.credits-img {
  max-height: 40vh;
  max-width: calc(100% - 4vw);
  margin: 4vh 0;

  border: 2px solid #6d6d6d;
  border-radius: 200px 12px 200px 10px/5px 260px 5px 260px;
}

.credits-h { font-size: 26px; }

.credits-p { margin: 2vh 4vw; }

.credits-emph {
  margin: 6vh 0;
}

.credits-a {
  font-weight: bold;
  color: black;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

.fade-in { animation: fade-in 700ms ease-out forwards; }

.fade-out { animation: fade-out 700ms ease-out forwards; }

@keyframes fade-in {
  0% { opacity: 0; }
  10% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
