@import 'buttons.css';
@import 'graph.css';
@import 'game-view.css';
@import 'mobile-game-view.css';
@import 'history.css';

:root {
  --main-font: 'Neucha', serif;

  --header-height: 68px;
  --min-layout-height: 500px;
  --textbox-height: 120px;
  --graph-field-width: 120px;
  --mobile-controls-height: 200px;

  --text-color: #000;
  --border-color: #6d6d6d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font: 18px var(--main-font);
  letter-spacing: 0.04em;
}

.transition-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Overlay form elements */
  z-index: 999;

  background: transparent;
  transition: background 700ms ease-in;
}

.transition-overlay--opaque {
  background: white;
}

/* TODO: Replace .view with auth- and memories-specific styles */
.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: var(--min-layout-height);
  max-height: calc(80% - var(--textbox-height));
}

.view__field {
  width: 180px;
  display: block;
  padding: 8px;
  margin-bottom: 16px;

  border: 1px solid black;
  border-radius: 8px;
}
