.button {
  display: block;
  background: white;
  padding: 10px 24px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 8px;

  font-family: var(--body-font);
  font-size: 15px;
  text-decoration: none;
  color: black;

  &:hover {
    cursor: pointer;
  }
}

.button--inline {
  display: inline-block;
}

.button--dialogue-choice {
  max-width: 420px;
  width: 100%;
}

.button--graph {
  width: var(--graph-field-width);
  margin: 16px 0;
  padding: 8px 0;

  text-align: center;
}
