.graph {
  height: 100%;
  max-height: 100%;
  width: 100%;
}

.graph-field {
  position: relative;
}

.graph-field:not(:last-child) {
  margin-bottom: 12px;
}

.graph-field__label {
  position: absolute;
  line-height: 33px;
  left: 12px;
}

.graph-field__input {
  width: var(--graph-field-width);
  display: inline-block;
  padding: 8px 8px 8px 30px;

  border: 1px solid black;
  border-radius: 8px;

  font-family: var(--body-sans-font);
  text-align: right;
}
