.header {
  display: flex;
  justify-content: space-between;
}

.header__info,
.header__link {
  color: var(--text-color);
  text-decoration: none;
  font: bold 22px/var(--header-height) var(--header-font);
}

.header__link {
  margin-left: 24px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
