.history {
  height: 100vh;
  overflow: auto;

  text-align: center;
}

.history-controls {
  display: flex;
  justify-content: center;
}

.history-table {
  border-collapse: collapse;
  margin: 16px auto;

  & th, & td {
    padding: 8px 16px;
    text-align: center;
  }
}
